# Importing Libraries

In [1]:
import numpy as np
import pandas as pd

# Data Reading

In [2]:
books = pd.read_csv('Books.csv')
books

C:\Users\SURAJ\AppData\Local\Temp\ipykernel_22048\2199899805.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  books = pd.read_csv('Books.csv')

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...
...,...,...,...,...,...,...,...,...
271355,0440400988,There's a Bat in Bunk Five,Paula Danziger,1988,Random House Childrens Pub (Mm),http://images.amazon.com/images/P/0440400988.0...,http://images.amazon.com/images/P/0440400988.0...,http://images.amazon.com/images/P/0440400988.0...
271356,0525447644,From One to One Hundred,Teri Sloat,1991,Dutton Books,http://images.amazon.com/images/P/0525447644.0...,http://images.amazon.com/images/P/0525447644.0...,http://images.amazon.com/images/P/0525447644.0...
271357,006008667X,Lily Dale : The True Story of the Town that Ta...,Christine Wicker,2004,HarperSanFrancisco,http://images.amazon.com/images/P/006008667X.0...,http://images.amazon.com/images/P/006008667X.0...,http://images.amazon.com/images/P/006008667X.0...
271358,0192126040,Republic (World's Classics),Plato,1996,Oxford University Press,http://images.amazon.com/images/P/0192126040.0...,http://images.amazon.com/images/P/0192126040.0...,http://images.amazon.com/images/P/0192126040.0...
271359,0767409752,A Guided Tour of Rene Descartes' Meditations o...,Christopher Biffle,2000,McGraw-Hill Humanities/Social Sciences/Languages,http://images.amazon.com/images/P/0767409752.0...,http://images.amazon.com/images/P/0767409752.0...,http://images.amazon.com/images/P/0767409752.0...

In [3]:
users = pd.read_csv('Users.csv')
users

        User-ID                            Location   Age
0             1                  nyc, new york, usa   NaN
1             2           stockton, california, usa  18.0
2             3     moscow, yukon territory, russia   NaN
3             4           porto, v.n.gaia, portugal  17.0
4             5  farnborough, hants, united kingdom   NaN
...         ...                                 ...   ...
278853   278854               portland, oregon, usa   NaN
278854   278855  tacoma, washington, united kingdom  50.0
278855   278856           brampton, ontario, canada   NaN
278856   278857           knoxville, tennessee, usa   NaN
278857   278858                dublin, n/a, ireland   NaN

[278858 rows x 3 columns]

In [4]:
ratings = pd.read_csv('Ratings.csv')
ratings

         User-ID         ISBN  Book-Rating
0         276725   034545104X            0
1         276726   0155061224            5
2         276727   0446520802            0
3         276729   052165615X            3
4         276729   0521795028            6
...          ...          ...          ...
1149775   276704   1563526298            9
1149776   276706   0679447156            0
1149777   276709   0515107662           10
1149778   276721   0590442449           10
1149779   276723  05162443314            8

[1149780 rows x 3 columns]

# Data Cleaning

In [5]:
books.isnull().sum()

ISBN                   0
Book-Title             0
Book-Author            2
Year-Of-Publication    0
Publisher              2
Image-URL-S            0
Image-URL-M            0
Image-URL-L            3
dtype: int64

In [6]:
users.isnull().sum()

User-ID          0
Location         0
Age         110762
dtype: int64

In [7]:
ratings.isnull().sum()

User-ID        0
ISBN           0
Book-Rating    0
dtype: int64

In [8]:
print(books.shape)
print(users.shape)
print(ratings.shape)

(271360, 8)
(278858, 3)
(1149780, 3)

## Merge ratings and books on 'ISBN'

In [9]:
ratings_with_name = ratings.merge(books,on='ISBN')
x = ratings_with_name.groupby('User-ID').count()['Book-Rating'] >200

digik_users = x[x].index
ratings_with_name

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,276725,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
1,2313,034545104X,5,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
2,6543,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
3,8680,034545104X,5,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
4,10314,034545104X,9,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
...,...,...,...,...,...,...,...,...,...,...
1031131,276688,0517145553,0,Mostly Harmless,Douglas Adams,1995,Random House Value Pub,http://images.amazon.com/images/P/0517145553.0...,http://images.amazon.com/images/P/0517145553.0...,http://images.amazon.com/images/P/0517145553.0...
1031132,276688,1575660792,7,Gray Matter,Shirley Kennett,1996,Kensington Publishing Corporation,http://images.amazon.com/images/P/1575660792.0...,http://images.amazon.com/images/P/1575660792.0...,http://images.amazon.com/images/P/1575660792.0...
1031133,276690,0590907301,0,Triplet Trouble and the Class Trip (Triplet Tr...,Debbie Dadey,1997,Apple,http://images.amazon.com/images/P/0590907301.0...,http://images.amazon.com/images/P/0590907301.0...,http://images.amazon.com/images/P/0590907301.0...
1031134,276704,0679752714,0,A Desert of Pure Feeling (Vintage Contemporaries),Judith Freeman,1997,Vintage Books USA,http://images.amazon.com/images/P/0679752714.0...,http://images.amazon.com/images/P/0679752714.0...,http://images.amazon.com/images/P/0679752714.0...
1031135,276704,0806917695,5,Perplexing Lateral Thinking Puzzles: Scholasti...,Paul Sloane,1997,Sterling Publishing,http://images.amazon.com/images/P/0806917695.0...,http://images.amazon.com/images/P/0806917695.0...,http://images.amazon.com/images/P/0806917695.0...

In [10]:
filtered_rating = ratings_with_name[ratings_with_name['User-ID'].isin(digik_users)]

y = filtered_rating.groupby('Book-Title').count()['Book-Rating']>=50
famous_books = y[y].index

In [11]:
final_ratings = filtered_rating[filtered_rating['Book-Title'].isin(famous_books)]

df = final_ratings.pivot_table(index='Book-Title',columns='User-ID',values='Book-Rating')

df.fillna(0,inplace=True)


df

User-ID,254,2276,2766,2977,3363,4017,4385,6251,6323,6543,...,271705,273979,274004,274061,274301,274308,275970,277427,277639,278418
Book-Title,,,,,,,,,,,,,,,,,,,,,
1984,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1st to Die: A Novel,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2nd Chance,0.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4 Blondes,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
A Bend in the Road,0.0,0.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Year of Wonders,0.0,0.0,0.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
You Belong To Me,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zen and the Art of Motorcycle Maintenance: An Inquiry into Values,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zoya,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"\O\"" Is for Outlaw""",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,8.0,0.0,0.0,0.0,0.0,0.0

## Recommendation System

In [12]:
# Get input from user for book title
user_input = input("Enter a book title to get recommendations: ")

# Filter ratings for the entered book title
filtered_ratings = ratings_with_name[ratings_with_name['Book-Title'].str.contains(user_input, case=False)]
# Calculate average rating for each book
book_ratings_avg = filtered_ratings.groupby('Book-Title')['Book-Rating'].mean().reset_index()

# Sort books by average rating in descending order
recommended_books = book_ratings_avg.sort_values(by='Book-Rating', ascending=False)

# Print recommended books
print(f"Recommended books related to '{user_input}':")
for index, row in recommended_books.iterrows():
    print(f"{row['Book-Title']}: Average Rating {row['Book-Rating']:.2f}")

Enter a book title to get recommendations: The Boys
Recommended books related to 'The Boys':
Dead End Kids: Gang Girls and the Boys They Know: Average Rating 10.00
Bach, Beethoven, and the Boys: Music History As It Ought to Be Taught: Average Rating 10.00
Who Am I Without Him? : Short Stories About Girls and the Boys in Their Lives: Average Rating 9.00
Accidental Empires: How the Boys of Silicon Valley Make Their Millions, Battle Foreign Competition, and Still Can't Get a Date: Average Rating 8.50
Ed McBain's Give the Boys a Great Big Hand: Average Rating 7.50
The real thing: A guide to separating the genuine from the ersatz, the man from the boys, and the wheat from the chaff: Average Rating 7.00
The Boys and Their Baby (Stonewall Inn Editions): Average Rating 7.00
Across America with the Boys: Average Rating 7.00
Me and the Boys: The Glorious Adventures of Gini Kincaid : My Perilous Times in the Territory : A Novel: Average Rating 4.50
The Boys of Summer (Sweet Valley University, No 32): Average Rating 3.50
Master Harold...and the Boys: Average Rating 3.50
The Boys of My Youth (Boys of My Youth): Average Rating 3.50
The Boys from Brazil: Average Rating 3.20
The Boys of Summer: Average Rating 2.89
The Men from the Boys: Average Rating 2.67
The Boys on the Rock (Stonewall Inn Editions): Average Rating 2.67
The Boys of Swithins Hall: Average Rating 2.50
A Traitor Among the Boys: Average Rating 2.50
The Boys of My Youth: Average Rating 2.27
Who Let Girls in the Boys' Locker Room?: Average Rating 1.17
The One-Room Schoolhouse: Stories About the Boys (Vintage Contemporaries): Average Rating 0.00
Get That Girl Out of the Boys' Locker Room: Average Rating 0.00
The Boys on the Tracks: Average Rating 0.00
The Boys' Crusade : The American Infantry in Northwestern Europe, 1944-1945 (Modern Library Chronicles): Average Rating 0.00
The Boys: The Untold Story of 732 Young Concentration Camp Survivors: Average Rating 0.00
Francie and the Boys: Average Rating 0.00
The boys of summer: Average Rating 0.00
The Boys of Winter: A Novel: Average Rating 0.00
Boys Town Prayer Book: Prayers by and for the Boys and Girls of Boys Town: Average Rating 0.00
Walking Out on the Boys: Average Rating 0.00
Westsiders: Stories of the Boys in the Hood: Average Rating 0.00
Where Are the Boys?: Average Rating 0.00
Where the Boys Are: Average Rating 0.00
Bach, Beethoven and the Boys: Music History As It Ought to Be Taught: Average Rating 0.00
The Boys on the Bus: Average Rating 0.00
One of the Boys: Average Rating 0.00
One of the Boys (Janet Dailey Americana): Average Rating 0.00
Here Come the Boys No. 13 (Girls of Canby Hall): Average Rating 0.00
Kiss the Boys Goodbye: How the United States Betrayed Its Own Pows in Vietnam: Average Rating 0.00
Not One of the Boys: Living Life As a Feminist: Average Rating 0.00
The Boys from New Jersey: How the Mob Beat the Feds: Average Rating 0.00
The Boys from Liverpool: John, Paul, George, Ringo: Average Rating 0.00
The Boys from Brazil: A Novel: Average Rating 0.00
One Of The Boys (Janet Dailey Americana): Average Rating 0.00
ANDIE AND THE BOYS: Average Rating 0.00
The Boys and Their Baby: Average Rating 0.00
The Boys Start the War: The Girls Get Even/2 Books in 1: Average Rating 0.00
The Boys Start the War: Average Rating 0.00
The Boys Are Back in Town: Average Rating 0.00
The Boys Across the Street: Average Rating 0.00
The BOYS : JONES VS. JOHNSON:  THE FEUD THAT ROCKED AMERICA'S TEAM: Average Rating 0.00
Give the Boys a Great Big Hand (An 87th Precinct Mystery): Average Rating 0.00